[Unit]
Description=Kiwix Offline Library Server
After=network.target

[Service]
ExecStart=/usr/local/bin/kiwix-serve --library /home/pi/library/library.xml --port 8080
Restart=always
User=pi
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
